{
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties"],
        ["module-resolver",{
          "root": ["./src"],
          "alias": {
            "@": "./src",
            "@root": "./"
          }
        }]
      ]
}
